<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<et:design:snippet name="head" />
   <body>
      <div id="page">
         <et:design:snippet name="header" />
         <div id="nav">
            <et:design:snippet name="navigation" />
         </div>
         <div id="main">
            <et:design:snippet name="article" />
            <et:design:snippet name="sidebar_articles" />
         </div>
         <div style="clear:both"></div>
      </div>
      <div id="footer-wrapper">
         <div id="footer">
            <et:design:snippet name="footer" />
         </div>
      </div>
   </body>
</html>