html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
/*
:focus {
	outline: 0;
}
*/

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	color: black;
	font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;
}
img { 
	border: none;
}
/* because of IE6 this should be a separate block from the previous one */
input[type='image'] { 
	border: none;
	vertical-align: middle; 
}
.hidden {
	display: none;
}
.clear {
	font-size: 1px;
	clear: both;
}
.warning {
	color: red;
}
table {
	border-collapse: collapse;
}


/* header */


div#header {
	background: black url('../img/escher.gif') no-repeat top right;
}

div#header div.title {
	float: left;
	color:white;
	font-size: 70%;
	margin: 10px 10px 0 20px;
}
div#header div.title span {
}


/* footer */


ul#footernav {
	clear: both;
	font-size: 90%;
	background-color: #99B8CC;
	padding: 12px 0 15px 35px;
	margin-bottom: 10px;
	text-align: right;
}

ul#footernav li {
	padding: 0px 10px 0px 0px;
	display: inline;
}

ul#footernav li.selected {
	font-weight: bold;
}

ul#footernav li a {
	color: black;
}


div#footer {
	color: #999;
	background-color: #f5f5f5;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	font-size: 80%;
	padding: 0 0 20px 0;
	width: 100%;
	text-align: center;
}

div#footer a {
	color: #999;
}

/* navigation */


ul#navbar {
	font-size: 120%;
	padding: 56px 0px 0px 20px;
}

ul#navbar li {
	float: left;
}

ul#navbar a:link, ul#navbar a:visited {
	float: left;
	font-weight: normal;
	padding: 3px 6px 3px 6px;
	margin: 0px -1px 0px 0px;
	border: 1px solid #003366;
	text-decoration: none;
	color: #386785;
	background-color: white;
	border-bottom: 1px solid white;
}

ul#navbar li.selected a:link, ul#navbar li.selected a:visited {
	color: #333333;
	background-color: #99B8CC;
	border-bottom: 1px solid #99B8CC;
	font-weight: bold;
}

ul#navbar a:hover {
	color: #000000;
	background-color: #99B8CC;
	border-bottom: 1px solid #99B8CC;
}


ul#subnav {
	clear: both;
	font-size: 90%;
	background-color: #99B8CC;
	padding: 12px 0 15px 35px;
}

ul#subnav li {
	padding: 0px 10px 0px 0px;
	display: inline;
}

ul#subnav li.selected {
	font-weight: bold;
}

ul#subnav li a {
	color: black;
}


/* effects */


.flash {
	position: absolute;
	top: 105px;
	right: 0px;
	width: 430px;
	padding: 20px;
	text-align: center;
	background-color: #ffffc2;
	border: 1px solid #036;
	z-index: 10;
}


/* main layout */


#main {
	float: left;
	width: 100%;
}

#content {
	font-size: 95%;
	padding: 10px;
	background-color: white;
}


/* messages */

#notice, #error, #alert {
  background-color: inherit;
  color: white;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  padding: .75em;
  padding: 10px;
}
#notice {
  background-color: #0c3;
  border: 3px solid #7FE699;
}
#error {
  background-color: #c00;
  border: 3px solid #e67f00;
}
#alert {
  background-color: #f37616;
  border: 3px solid #c00;
}

#content div.title {
	font-family: Georgia, Palatino, "Times New Roman", Times, serif;
	font-size: 150%;
	padding: 10px 10px 10px 0;
}


#page-header {
	padding: .5em 0 1.5em .5em;
	background-color: #f5f5f5;
}

#page-header ul {
}

#page-header ul li.category, #page-header ul li.model, #page-header ul li.page, #page-header ul li.theme, #page-header ul li.role, #page-header ul li.user, #page-header ul li.branch {
	float: left;
	margin: 0;
	text-align: left;
}

#page-header ul li {
	float: right;
	width: 75px;
	margin: 0 20px 0 20px;
	text-align: center;
}

#page-header ul li.warning {
	float: none;
	width: 100%;
	margin: 0;
	text-align: left;
	font-weight: bold;
}

#page-header ul li.author {
	width: 125px;
}

#page-header ul li.created {
	width: 175px;
}

#page-header ul li.email {
	width: 250px;
}

#page-header ul li.login {
	width: 125px;
}

#page-header ul li.role {
	width: 200px;
}

#page-header ul li.user {
	width: 200px;
}

#page-header ul li.branch {
	width: 200px;
}


img.icon {
	padding-right: 5px;
}

.hier-list ul.level-0 {
	margin: 10px 0 0 0;
}

.hier-list ul {
	list-style: none;
	margin: 0;
	padding-left: 1em;
}

.hier-list ul li {
	clear: both;
}

.hier-list ul li img { 
	vertical-align: middle; 
}

.hier-list ul li.no-entries {
	padding-top: 20px;
	text-align: center;
	color: #9eb3bf;
	font-size: 80%;
	font-style: italic;
}

.hier-list div.no-children {
	padding-left: 21px;
}

.hier-list ul li div.entry {
	height: 30px;
	margin-top: -5px;
	padding-bottom: 10px;
}
	
.hier-list ul li div.entry:hover {
	background-color: #ffffb3;
}
	
.hier-list ul li div.entry a {
	text-decoration: none;
}

.hier-list div.entry a .title, .hier-list div.entry a:visited .title {
	color: black;
	text-decoration: none;
}

.hier-list div.entry a:hover .title {
	color: blue;
	text-decoration: underline;
}

.hier-list .level-0 div.entry {
	font-size: 100%;
	font-weight: bold;
}

.hier-list .level-1 div.entry {
	font-size: 95%;
	font-weight: bold;
}

.hier-list .level-2 div.entry {
	font-size: 90%;
}

.hier-list .level-3 div.entry {
	font-size: 85%;
}


.hier-list div.entry img.expander {
	padding: 3px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.hier-list div.column {
	float: right;
	margin: 10px 20px 0 20px;
	text-align: left;
}

.hier-list div.column.first {
	float: left;
	margin: 7px 0 0 -10px;
	text-transform: none;
}

.hier-list div.action {
	width: 75px;
	text-align: center;
	vertical-align: middle;
}

.hier-list div.action select {
	width: 90px;
}

.hier-list div.status {
	color: #9eb3bf;
	width: 75px;
}

.hier-list div.author {
	width: 125px;
}

.hier-list div.created {
	width: 175px;
}

.hier-list div.email {
	width: 250px;
}

.hier-list div.login {
	width: 125px;
}

.hier-list div.roles {
	width: 200px;
}

.hier-list div.status.draft-status {
	color: #4A76AC;
}
.hier-list div.status.reviewed-status {
	color: #00CC00;
}
.hier-list div.status.published-status {
	color: black;
}
.hier-list div.status.sticky-status {
	color: #FFCC33;
}
.hier-list div.status.hidden-status {
	color: #B3B3B3;
}
.hier-list.hier-list div.status.expired-status {
	color: #CC0000;
}


#content a.collapse {
	background: url('../img/collapse.png') no-repeat top left;
	padding-left: 20px;
}
#content a.expand {
	background: url('../img/expand.png') no-repeat top left;
	padding-left: 20px;
}


/* form elements */

#content .form-area {
	background-color: #F0787E; /* dark salmon */
	background-color: #F0A8AD; /* salmon */
	background-color: #F7E8B5; /* tan */
	background-color: #DBF0A8; /* green */
	background-color: #A4B27D; /* dark green */
	background-color: #CEDE9E; /* winner! */
	margin-left: -20px;
	padding: 5px 10px 10px 20px;
	width:100%;
}
#content .form-area .field {
	margin-top: 10px;
}
#content .form-area div.error {
	color: red;
	font-size: 80%;
}
#content .form-area .title {
	font-weight: bold;
	margin-bottom: 0;
	width: 100%;
	text-transform: capitalize;
}
#content .form-area .title a {
	color: black;
	text-decoration: none;
}
#content .form-area label.error {
	color: red;
	font-weight: bold;
}
#content .form-area label.error a {
	color: red;
}
#content .form-area .fixed .title a {
	padding-left: 20px;
}
#content div.collapsible {
	margin-top: 5px;
}
#content .form-area .textbox {
	font-size: 100%;
	width: 100%;
}

#content .form-area div.meta {
	font-size: 80%;
	width: 100%;
	background-color: white;
	border: 1px solid gray;
	padding-top: 5px;
}
#content .form-area div.meta p {
	clear: both;
}
#content .form-area div.meta label {
	padding-left: 10px;
	font-size: 80%;
	min-width: 75px;
	vertical-align: middle;
	text-transform: capitalize;
}
#content .form-area div.meta div.error {
	float: right;
	width: 90%;
	margin-bottom: 5px;
}
#content .form-area div.meta .textbox {
	float: right;
	font-family: Georgia, Palatino, "Times New Roman", Times, serif;
	font-size: 90%;
	width: 90%;
}
#content .form-area div.meta fieldset {
	margin-right: .5em;
}

#content .form-area #meta a.meta_delete_link {
	float: right;
	padding: 3px;
}

#content .form-area #meta .spacer {
	float: right;
	padding: 3px;
	width: 12px;
}

#content .form-area	div.toolbar {
	width: 100%;
	text-align: right;
}
#content .form-area div.toolbar img {
	padding: .35em;
}

#content .form-area .status {
	margin: 15px 0 10px 0;
	font-size: 70%;
}

#content .form-area div.filter {
	margin-left: 10px;
}

#content .form-area textarea {
	width: 100%;
	height: 400px;
	border: 1px solid #cdc295;
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 90%;
}

#content .form-area .field div.image-display {
	border: 10px solid #cdc295;
	background: white;
}

#content .form-area .field div.inner-field {
	margin-top: 3px;
	padding: 10px;
	background: white;
}

form .form-area #parts a.part_delete_link {
	float: right;
	margin-right: 3px;
}


form .form-area #options {
	margin: 10px 10px 0 -10px;
}

form .form-area #options label {
	margin-left: 20px;
}

form .form-area #options p {
	float: left;
	margin-bottom: 10px;
}

#content .form-area .textbox.categories {
	border: 1px solid gray;
	min-height: 1.5em;
	padding:2px
}

#content .form-area .textbox.categories a {
	font-size: 120%;
	color: black;
	text-decoration: none;
	padding: 0 0 15px 15px;
	background: url('../img/minus.png') no-repeat top left;
}

/* centered forms */


#content form .form-area.centered div.fields {
	min-width: 600px;
	margin: 10px 100px 10px 100px;
	font-size: 70%;
	background-color: white;
	border: 1px solid #EEAA22;
	border-collapse: collapse;
}

#content form .form-area.centered div.row {
	clear: both;
	padding-top: 10px;
}

#content form .form-area.centered div.row span.label {
	float: left;
	width: 250px;
	margin: 5px 5px 0px 0px;
	text-align: right;
	color: black;
}

#content form .form-area.centered div.row span.label_err {
	float: left;
	width: 250px;
	margin: 5px 5px 0px 0px;
	text-align: right;
	color: red;
	font-weight: bold;
}

#content form .form-area.centered div.row span.field {
	text-align: left;
	white-space: nowrap;
} 

#content form .form-area.centered div.row span.field input {
} 

#content form .form-area.centered div.header {
	background-color: #EEAA22;
	color: white;
	font-size: 110%;
	font-weight: bold;
	clear: both;
	padding: 5px;
}

#content form .form-area.centered div.spacer {
	clear: both;
	height: 10px;
}

#content .form-area.centered textarea {
	width: 300px;
	height: 100px;
	border: 1px solid #EEAA22;
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 90%;
}


/* installer */

div.installer {
	margin: auto;
	padding: 20px 30px 40px 30px;
	background-color: #fcfcfc;
}

div.installer div.banner {
	background-color: #DBF0A8; /* green */
	margin-left: -20px;
	padding: 10px 10px 20px 20px;
	width:100%;
}

div.installer div.alert {
	background-color: #F0A8AD; /* salmon */
	margin-top: 30px;
	margin-left: -20px;
	padding: 10px 10px 10px 20px;
	width:100%;
}

div.installer p {
	margin: 5px 0 5px 0;
}

div.installer ul {
	margin: 20px 0 0 20px;
	font-size: 90%;
	line-height: 2em;
}

div.installer ul li {
	list-style-type: disc;
}

div.installer span.help {
	font-size: 80%;
	background-color: yellow;
}


/* login form */

form div.login {
	width: 375px;
	margin: 20px auto 20px auto;
	padding: 40px 30px 40px 30px;
	background-color: #fcfcfc;
	border: 4px solid #ababab;
}

form div.login label.error {
	color: red;
}

form div.login div.error {
	color: red;
	font-size: 80%;
}

form div.login div.field {
	text-align: right;
	padding-bottom: 5px;
}

form div.login div.field button {
	float: right;
}

form div.login div.help_link {
	font-size: 80%;
	clear: both;
	padding: 20px 0 0 0;
	margin: 0 0 -20px 0;
	text-align: right;
}

/* branch change list */


ul#change-list {
	width: 100%;
	font-size: 80%;
}

ul#change-list li.header {
	padding: 5px 2px 5px 20px;
	font-weight: bold;
	background-color: #EEAA22;
}

ul#change-list table.asset-changes {
	width: 100%;
	text-align: left;
	white-space: nowrap;
}

ul#change-list table.asset-changes tr th, ul#change-list table.asset-changes tr td {
	padding-left: 30px;
}

ul#change-list table.asset-changes tr.odd {
	background-color: #EDD9B2;
	border-top: 1px solid #EEAA22;
	border-bottom: 1px solid #EEAA22;
}

ul#change-list li.spacer {
	height: 10px;
}


/* preferences */


ul#prefs {
	font-size: 130%;
	border-collapse: collapse;
	margin: -3px 0 -3px 4px;
}

ul#prefs li {
	display: inline;
	margin: 0 0 0 -5px;
	line-height: 2.5em;
}

ul#prefs a:link, ul#prefs a:visited {
	padding: 5px 5px 6px 5px;
	font-weight: normal;
	color: #386785;
	background-color: white;
	border-left: 1px solid #EEAA22;
	border-right: 1px solid #EEAA22;
	text-decoration: none;
}

ul#prefs li.selected a:link, ul#prefs li.selected a:visited {
	color: #333333;
	background-color: #EEAA22;
	font-weight: bold;
}

ul#prefs a:hover {
	color: #000000;
	background-color: #EEAA22;
}


/* permissions */


ul#permissions {
	width: 100%;
	font-size: 80%;
}

ul#permissions li span.label {
	display: block;
	float: left;
	padding-top: 3px;
}

ul#permissions li span.checkbox {
	padding-right: 45px;
}

ul#permissions li {
	text-align: right;
	white-space: nowrap;
}

ul#permissions li.header {
	text-align: right;
	padding: 0 30px 5px 0;
	font-weight: normal;
}

ul#permissions li.odd {
	padding: 2px;
}

ul#permissions li.even {
	padding: 2px;
	background-color: #EDD9B2;
	border-top: 1px solid #EEAA22;
	border-bottom: 1px solid #EEAA22;
}

ul#permissions li.spacer {
	height: 10px;
}

ul#permissions li.level-0 {
	padding: 5px 2px 5px 2px;
	font-weight: bold;
	background-color: #EEAA22;
	padding-left: 20px;
}

ul#permissions li.level-1 {
	padding: 5px 2px 5px 2px;
	font-weight: bold;
	background-color: #EDC677;
	padding-left: 40px;
}

ul#permissions li.level-2 {
	padding-left: 60px;
}

ul#permissions li.level-3 {
	padding-left: 80px;
}

ul#permissions li.level-4 {
	padding-left: 100px;
}

ul#permissions li.level-5 {
	padding-left: 120px;
}

ul#permissions li.level-6 {
	padding-left: 140px;
}

ul#permissions li.level-7 {
	padding-left: 160px;
}

ul#permissions li.level-8 {
	padding-left: 180px;
}

ul#permissions li.level-9 {
	padding-left: 200px;
}

ul#permissions li.level-10 {
	padding-left: 220px;
}


/* users */


div#user-roles label {
	padding-right: 15px;
}


/* popups */


#popups .popup {
	display: none;
	background-color: white;
	border: 5px solid silver;
	color: inherit;
	padding: 2em;
	padding-top: 1em;
	padding-bottom: .5em;
}
#popups .popup .busy {
	float: right;
}
#popups .popup h3 {
	margin-top: 0;
	margin-bottom: 10px;
}
#popups .popup .close-link {
	font-size: 85%;
	text-align: right;
}


/* buttons */


.buttons a, button {
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	float: left;
	margin: 0 7px 0 0;
	text-decoration: none;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	padding: 5px 10px 6px 7px;
	display: block;
	cursor: pointer;
	font-size: small;
	line-height: 130%;
	color: #333;
	font-weight: bold;
}
button {
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	width: auto;
	overflow: visible;
	font-weight: bold;
	padding: 4px 10px 3px 7px; 
}
button[type] {
	width: auto;
	padding: 5px 10px 5px 7px;
	line-height: 17px; 
}
*:first-child+html button[type] {
	padding: 4px 10px 3px 7px; 
}
button img, .buttons a img {
	margin: 0 3px -3px 0 !important;
	width: 16px;
	height: 16px;
	padding: 0 !important;
	border: none !important;
	display: inline !important;
}
button:hover, .buttons a:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}
.buttons a:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}
button.positive, .buttons a.positive {
	color: #529214;
}
.buttons a.positive:hover, button.positive:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}
.buttons a.positive:active, button.positive:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}
.buttons a.negative, button.negative {
	color: #d12f19;
}
.buttons a.negative:hover, button.negative:hover {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}
.buttons a.negative:active, button.negative:active {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}
.button {
	cursor: pointer;
}
.buttons {
	text-align: center;
	clear: both;
	margin: 10px 0 20px 0;
	padding: 0;
}
.buttons .button {
	cursor: pointer;
	padding: 0 10px;
}


/* tool tips */


img.helptip {
	cursor: help;
}
